---
layout: norails
---
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Refresh" content="7;url=https://censoredplanet.org">
</head>

<div class="container-fluid background-teal">
    <div class="container py-3">
      <h1 class="text-slate">Sorry, the page you're looking for does not exist.</h1>
    </div>
</div>

<div class="container-fluid">
    <div class="container pt-4 pb-2">
        <p class="text-slate size-24">Don't worry, this isn't censorship! While you're being redirected to our home page, take a look at our recent reports!</p>
    </div>
</div>

<!-- Report Cards Desktop Section -->
<div class="container-fluid d-none d-md-block d-sm-none">
    <div class="container py-5">
        <div class="row">
            {% for report in site.reports reversed%}
            <div class="col-12 col-md-4 mx-2 mb-2 mb-sm-2 report-card">
                <span class="details">{{ report.date | date_to_long_string }}</span>
                <h3 class="pt-2 text-slate weight-700">{{ report.title }}</h3>
                <p class="mb-5">{{ report.excerpt | truncatewords: 20 }}</p>
                <a href="{{ report.url }}" class="button-main">Read Report</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Report Cards Mobile Section -->
<div class="container-fluid d-block d-md-none d-sm-block">
    <div class="container py-5">
        <div class="row">
            {% for report in site.reports reversed%}
            <div class="col-12 mb-2 mb-sm-2 report-card">
                <span class="details">{{ report.date | date_to_long_string }}</span>
                <h3 class="pt-2 text-slate weight-700">{{ report.title }}</h3>
                <p class="mb-5">{{ report.excerpt | truncatewords: 20 }}</p>
                <a href="{{ report.url }}" class="button-main">Read Report</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

</html>