---
layout: default
---

<!-- Latest News Section -->
<div class="container-fluid background-gray">
  <div class="container py-3">
    <h2 class="text-slate mb-3">News</h2>
    <div class="row">
      <div class="col-12 col-lg-6 mb-3 mb-sm-3">
        {% for news in site.data.news limit:3 %}
        <br><p class="mb-0 text-slate weight-700">{{ news.date }}</p>
        <a href="{{ news.url }}" class="weight-500 underline text-slate-70">{{ news.title }}</a><br>
        {% endfor %}
      </div>
      <div class="col-12 col-lg-6 mb-3 mb-sm-3">
        <a class="twitter-timeline" data-height="250" data-theme="light" data-chrome="noheader%20noborders%20transparent%20nofooter" href="https://twitter.com/CensoredPlanet?ref_src=twsrc%5Etfw">Tweets by CensoredPlanet</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</div>

<!--How it works Section Desktop-->
<div class="container-fluid d-none d-md-block d-sm-none">
  <div class="container py-4">
    <h2 class="text-slate">The Censored Planet Observatory</h2>
    <div class="row pt-0 pb-3 justify-content-between align-items-center">
      <div class="col-12 col-md-6 order-2 order-md-1">
        <p class="mb-0 size-17 justify-text">The Censored Planet Observatory uses remote measurement techniques such as Augur, Satellite, Qauck and Hyperquack to run remote censorship measurements for thousands of websites. These techniques use features in existing Internet protocols and infrastructure to interact with remote systems, using their responses to determine the presence or absence of censorship. Thus, we eliminate the need for accessible vantage points or volunteers in different countries, surpassing scale, coverage, continuity, and safety limitations.</p><br/>
        <p class="mb-0 size-17 justify-text">The observatory uses a modular design for measuring and analyzing Internet censorship. Censored Planet continously measures reachability to 2,000 websites from more than 95,000 vantage points in 221 countries (a 42-360% increase compared to other measurement platforms). Censored Planet also includes a rapid focus feature that can analyze certain censorship events in depth. Censored Planet finds increasing levels of censorship in 103 countries, and has detected more than 15 key censorship events.</p>
        <br/>
        <div class="row align-items-center">
          <div class="col-12 col-md-6 full-width-md"><a href="/assets/censoredplanet.pdf" class="hero">Paper <i class="fas fa-arrow-right pl-1"></i></a></div>
          <div class="col-12 col-md-6 full-width-md margin-negative"><a class="action" href="/censoredplanet">Findings<i class="fas fa-arrow-right pl-1"></i></a></div>
        </div>
      </div>
    <div class="col-12 col-md-6 order-1 order-md-2 pl-md-0 mb-4 mb-md-0 d-none d-md-none d-lg-block"><img class="w-100" src="assets/cp-design.png" />
    </div>
  </div>
</div>
</div>


<!--How it works Section Mobile-->
<div class="container-fluid d-block d-md-none d-sm-block">
  <div class="container py-4">
    <h2 class="text-slate">The Censored Planet Observatory</h2>
    <div class="col-12 col-md-6 order-1 order-md-2 pl-md-0 mb-4 mb-md-0"><img class="w-100" src="assets/cp-design.png" />
    </div>
    <div class="row pt-0 pb-3 justify-content-between align-items-center">
      <div class="col-12 col-lg-9">
        <p class="mb-0 size-17 justify-text">The Censored Planet Observatory uses remote measurement techniques such as Augur, Satellite, Qauck and Hyperquack to run remote censorship measurements for thousands of websites. These techniques use features in existing Internet protocols and infrastructure to interact with remote systems, using their responses to determine the presence or absence of censorship. Thus, we eliminate the need for accessible vantage points or volunteers in different countries, surpassing scale, coverage, continuity, and safety limitations.</p><br/>
        <p class="mb-0 size-17 justify-text">The observatory uses a modular design for measuring and analyzing Internet censorship. Censored Planet continously measures reachability to 2,000 websites from more than 95,000 vantage points in 221 countries (a 42-360% increase compared to other measurement platforms). Censored Planet also includes a rapid focus feature that can analyze certain censorship events in depth. Censored Planet finds increasing levels of censorship in 103 countries, and has detected more than 15 key censorship events.</p>
        <br/>
        <div class="col-12 col-lg-3 text-sm-right text-left mt-4 mb-3 mt-sm-0 mb-sm-0">
          <div class="col-12 col-md-6 full-width-md"><a href="/assets/censoredplanet.pdf" class="hero">Paper <i class="fas fa-arrow-right pl-1"></i></a></div>
          <div class="col-12 col-md-6 full-width-md margin-negative"><a class="action" href="/censoredplanet">Findings<i class="fas fa-arrow-right pl-1"></i></a></div>
        </div>
      </div>

  </div>
</div>
</div>

<!--Talks Section Desktop-->
<div class="container-fluid background-slate">
  <div class="container py-4">
      <h2 class="text-slate mb-0">Talks</h2>
        <div class="row justify-content-between pt-4">
          <div class="col-12 col-md-4 mb-3 mb-md-0">
            <div class="project-card-talk gallery-item">
                <a class="text-dark" href="https://youtu.be/8dwZdNkJ508" target="_blank" rel="noopener">
                  <img class="w-100" src="assets/cp-talk-cap.png" alt="Censored Planet: An Internet-wide, Longitudinal Censorship Observatory"/>
                    <h3 class="text-slate weight-700 px-3 mt-3">Censored Planet: An Internet-wide, Longitudinal Censorship Observatory</h3>
                    <p class="text-slate size-14 weight-500 px-3 pb-3">ACM SIGCSAC CCS 2020</p>
                </a>
            </div>
        </div>
            <div class="col-12 col-md-4 mb-3 mb-md-0">
                <div class="project-card-talk gallery-item">
                    <a class="text-dark" href="https://youtu.be/5IgnvR42cMQ" target="_blank" rel="noopener">
                        <img class="w-100" src="assets/imv-censoredplanet.png" alt="Censored Planet: Measuring Internet censorship remotely" />
                        <h3 class="text-slate weight-700 px-3 mt-3">Censored Planet: Measuring Internet censorship remotely</h3>
                        <p class="text-slate size-14 weight-500 px-3 pb-3">Internet Measurement Village 2020</p>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-3 mb-md-0">
                <div class="project-card-talk gallery-item">
                    <a class="text-dark" href="https://youtu.be/ljZJrM9A2Pw" target="_blank" rel="noopener">
                        <img class="w-100" src="assets/roya-splash.png" alt="Censored Planet: exposing internet censorship worldwide" />
                        <h3 class="text-slate weight-700 px-3 mt-3">Censored Planet: exposing internet censorship worldwide</h3>
                        <p class="text-slate size-14 weight-500 px-3 pb-3">Michigan Engineering</p>
                    </a>
                </div>
            </div>
        </div>

        <h2 class="text-slate mb-0">Data</h2>
        <p class="mb-0 size-18">All the data collected from the Observatory is publicly available</p>
        <div class="row justify-content-between pt-4">
            <div class="col mx-3 gallery-item project-card">
                <a class="text-dark" href="/data/raw">
                    <i class="fas fa-broadcast-tower size-36 text-teal mb-3"></i>
                    <h3 class="text-slate weight-700">Raw Data</h3>
                    <p>Compressed files containing JSON data (1 file per scan per technique).</p>
                </a>
            </div>
            <div class="col mx-3 gallery-item project-card">
              <a class="text-dark" href="/data/visualizations">
                  <i class="fas fa-adjust size-36 text-teal mb-3"></i>
                  <h3 class="text-slate weight-700">Documentation</h3>
                  <p>Documentation about Censored Planet and data formats.</p>
              </a>
          </div>
            <div class="col mx-3 gallery-item project-card">
                <a class="text-dark" href="/data/visualizations">
                    <i class="fas fa-adjust size-36 text-teal mb-3"></i>
                    <h3 class="text-slate weight-700">Visualizations</h3>
                    <p>View interactive visualizations and statistics from a recent scan.</p>
                </a>
            </div>
        </div>
  </div>
</div>

<!-- Reports Section Desktop -->
<div class="container-fluid d-none d-md-block d-sm-none">
  <div class="container py-4">
    <h2 class="text-slate">Latest Reports</h2>
    <div class="row pt-0 pb-3 justify-content-between align-items-center">
      <div class="col-12 col-lg-9">
        <p class="mb-0 size-18">Our research publications are often technical and complex, here we aim to communicate our research to a broader audience.</p>
      </div>
      <div class="col-12 col-lg-3 text-md-right text-left mt-4 mb-3 mt-sm-0 mb-sm-0">
        <a href="/reports" class="button-slate-sm">All Reports <i class="fas fa-arrow-right pl-1"></i></a>
      </div>
    </div>
    <div class="row">
      {% for report in site.reports reversed %}
      {% if forloop.index > 4 %}
        {% break %}
      {% endif %}
      <div class="col-12 col-md-4 mx-2 mb-2 mb-sm-2 report-card">
        <h3 class="text-slate weight-700">{{ report.title }}</h3>
        <p class="mb-5">{{ report.excerpt | truncatewords: 20 }}</p>
        <a href="{{ report.url }}" class="button-main">Read Report</a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Reports Section Mobile -->
<div class="container-fluid d-block d-md-none d-sm-block">
  <div class="container py-4">
    <h2 class="text-slate">Latest Reports</h2>
    <div class="row pt-0 pb-3 justify-content-between align-items-center">
      <div class="col-12 col-lg-9">
        <p class="mb-0 size-18">Our research publications are often technical and complex, here we aim to communicate our research to a broader audience.</p>
      </div>
      <div class="col-12 col-lg-3 text-sm-right text-left mt-4 mb-3 mt-sm-0 mb-sm-0">
        <a href="/reports" class="button-slate-sm">All Reports <i class="fas fa-arrow-right pl-1"></i></a>
      </div>
    </div>
    <div class="row">
      {% for report in site.reports reversed %}
      {% if forloop.index > 4 %}
        {% break %}
      {% endif %}
      <div class="col-12 mb-2 mb-sm-2 report-card">
        <h3 class="text-slate weight-700">{{ report.title }}</h3>
        <p class="mb-5">{{ report.excerpt | truncatewords: 20 }}</p>
        <a href="{{ report.url }}" class="button-main">Read Report</a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Call for Students -->
<div class="container-fluid d-none d-md-block d-sm-none pb-4">
  <div id="observatory" class="container rounded background-slate-80 py-1 my-2">
    <div class="row justify-content-between align-items-center py-4">
      <div class="col-12 col-md-4">
        <h2 class="text-white mb-0">Call for Students</h2>
      </div>
      <div class="col-12 col-md-5">
        <p class="mb-0 text-white">We are always looking for promising students (computer science, political science, journalism) and developers to join our team!</p>
      </div>
      <div class="col-12 col-md-3 mt-sm-0 mt-4 text-center">
        <a href="/team" class="button-main-sm">Get Involved</a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid background-slate-80 d-block d-md-none d-sm-block pb-4">
  <div id="observatory" class="container py-1 my-2">
    <div class="row justify-content-between align-items-center py-4">
      <div class="col-12 col-md-3">
        <h2 class="text-white mb-0">Call for Students</h2>
      </div>
      <div class="col-12 col-md-5">
        <p class="mb-0 text-white">We are always looking for promising students (CS, political science, journalism) and developers to join our team!</p>
      </div>
      <div class="col-12 col-md-3 mt-sm-0 mt-4 text-center">
        <a href="/team" class="button-main-sm">Get Involved</a>
      </div>
    </div>
  </div>
</div>


<!-- Featured Publications Section -->
<div class="container-fluid background-slate">
  <div class="container pt-5 pb-0">
    <div class="row justify-content-between align-items-center">
      <div class="col-12 col-lg-9">
        <h2 class="text-slate">Featured Publications</h2>
      </div>
      <div class="col-12 col-lg-3 text-sm-right text-left my-3 my-sm-0">
        <a href="/publications" class="button-slate-sm">All Publications <i class="fas fa-arrow-right pl-1"></i></a>
      </div>
    </div>
    <div class="row py-2">
      <div class="col-12 py-1">
        {% assign publications = site.publications %}
        {% for publication in site.publications reversed limit:5 offset:15 %}
        <div class="report-card px-3 py-1 my-2">
          <div class="row justify-content-between align-items-center">
            <div class="col-lg-12 col-sm-12">
              <p class="mt-2 mb-1">
                <span class="details-pub">{{ publication.date | date: "%B %Y" }}</span>
                <span class="ml-1 publisher">{{ publication.publisher }}</span>
              </p>
              <h3 class="pt-0 mb-05 text-slate weight-700">{{ publication.name }}</h3>
              {% assign collaborators = publication.collaborators %}
              {% for collaborator in collaborators %}
              <span class="collaborator">{{ collaborator }}</span>
              {% endfor %}
              {% if publication.press %}
              <p class="mb-1"></p>
              <span class="collaborator mt-1">Press:
              {% for publisher in publication.press %}
              <span><a class="underline weight-500 text-slate-60 ml-1" href="{{ publisher.link }}" target="_blank" rel="noopener">{{ publisher.publisher }}</a></span></span>
              {% endfor %}
              {% endif %}
              <p class="my-2">
                {% if publication.bibtex == "" or publication.bibtex == "#" or publication.bibtex == null %}
                {% else %}
                <button class="download btn-bib">BibTex</button>
                {% endif %}
                {% if publication.pdf == "" or publication.pdf == "#" or publication.pdf == null %}
                {% else %}
                <a href="{{ publication.pdf }}" class="ml-2 underline text-slate-70 weight-500">PDF</a>
                {% endif %}
                {% if publication.talk == "" or publication.talk == "#" or publication.talk == null %}
                {% else %}
                <a href="{{ publication.talk }}" class="border-left-slate ml-2 pl-2 underline text-slate-70 weight-500">Talk</a>
                {% endif %}
                {% if publication.slides == "" or publication.slides == "#" or publication.slides == null %}
                {% else %}
                <a href="{{ publication.slides }}" class="border-left-slate ml-2 pl-2 underline text-slate-70 weight-500">Slides</a>
                {% endif %}
              </p>
              <p class="bibtex mt-1">{{ publication.bibtex }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<!-- Media Section -->
<div class="container-fluid background-slate">
  <div class="container">
    <div class="pt-4 pb-5">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-7 text-center mb-lg-4">
          <h2 class="text-slate">In the Media</h2>
          <p class="size-20 text-slate">Censored Planet projects and research reports have appeared in various news outlets and tech publications.</p>
        </div>
      </div>
      <div class="row pt-3 justify-content-center align-items-center text-center">
        <div class="px-3 mt-3 mt-md-0"><a href="https://www.bbc.com/news/technology-49421729" target="_blank" rel="noopener"><img src="assets/bbc.svg" /></a></div>
        <div class="px-3 mt-3 mt-md-0"><a href="https://apnews.com/2cee9a8f8b234f5a86987eec835f3c55" target="_blank" rel="noopener"><img src="assets/ap.svg" /></a></div>
        <div class="px-3 mt-3 mt-md-0"><a href="https://www.forbes.com/sites/emmawoollacott/2019/08/21/apple-google-and-mozilla-block-kazakh-government-surveillance/" target="_blank" rel="noopener"><img src="assets/forbes.svg" /></a></div>
        <div class="px-3 mt-3 mt-md-0"><a href="https://www.azattyq.org/a/kazakhstan-the-biggest-score-declines-took-place-freedom-on-the-net-2019/30253611.html" target="_blank" rel="noopener"><img src="assets/radiofreeeurope.svg" /></a></div>
        <div class="px-3 mt-3 mt-md-0"><a href="https://www.businessinsider.com/apple-google-mozilla-block-kazakhstan-governments-browser-spying-tool-2019-8" target="_blank" rel="noopener"><img src="assets/businessinsider.svg" /></a></div>
      </div>
      <div class="row pt-3 pb-4 justify-content-center align-items-center text-center">
        <div class="pl-2 pr-3 mt-3 mt-md-0"><a href="https://blog.mozilla.org/blog/2019/08/21/mozilla-takes-action-to-protect-users-in-kazakhstan/" target="_blank" rel="noopener"><img src="assets/mozilla.svg" /></a></div>
        <div class="px-3 mt-3 mt-md-0"><a href="https://security.googleblog.com/2019/08/protecting-chrome-users-in-kazakhstan.html" target="_blank" rel="noopener"><img src="assets/google.svg" /></a></div>
        <div class="px-3 mt-3 mt-md-0"><a href="https://www.eff.org/deeplinks/2019/08/browsers-take-stand-against-kazakhstans-invasive-internet-surveillance" target="_blank" rel="noopener"><img src="assets/eff.svg" /></a></div>
        <div class="px-3 mt-3 mt-md-0"><a href="https://thenextweb.com/security/2019/08/21/google-apple-and-mozilla-wont-budge-on-kazakhstans-sneaky-plot-to-spy-on-citizens/" target="_blank" rel="noopener"><img src="assets/tnw.svg" /></a></div>
        <div class="px-3 mt-3 mt-md-0"><a href="https://cpj.org/blog/2019/11/russia-internet-censorship-censored-planet.php" target="_blank" rel="noopener"><img src="assets/cpj.svg" /></a></div>
      </div>
      <div class="row justify-content-center align-items-center text-center">
        <a href="/media" class="button-slate">Media Coverage</a>
      </div>
    </div>
  </div>
</div>

<!-- Scripts -->
<script>
  $(".btn-bib").click(function() {
    $(this).closest(".row").find(".bibtex").fadeToggle("300", "swing");
  });
</script>
