---
layout: internal
title: Publications
permalink: /publications
---

<!-- Top Header Section -->
<div class="container-fluid background-teal">
    <div class="container py-3">
        <h1 class="text-slate">Publications</h1>
        <p class="size-24 text-slate">Recent publications from the Censored Planet and related projects.</p>
    </div>
</div>

<!-- Publications List Section -->
<div class="container-fluid">
    <div class="container py-3">
        <div class="row py-2">
            <div class="col-12 py-1">
            <p class="mb-2">Our research community is a vibrant and growing subfield that exists at the intersection of networking, security and privacy, Internet measurement, and social and political science. Our major publication venues include systems security and privacy conferences (USENIX Security, IEEE S&P, ACM CCS, NDSS, PETS, and SIGCOMM) and measurement conferences (ACM IMC), as well as more specialized interdisciplinary workshops (USENIX FOCI).</p>
              <p>Presented in reverse chronological order.</p>
                {% for publication in site.publications reversed %}
                {% if publication.blacklisted == "yes" %}
                {% else %}
                <div class="report-card px-3 py-1 my-2">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-12 col-sm-12">
              <p class="mt-2 mb-1">
                <span class="details-pub">{{ publication.date | date: "%B %Y" }}</span>
                <span class="ml-1 publisher">{{ publication.publisher }}</span>
              </p>
              <h3 class="pt-0 mb-05 text-slate weight-700">{{ publication.name }}</h3>
              {% assign collaborators = publication.collaborators %}
              {% for collaborator in collaborators %}
              <span class="collaborator">{{ collaborator }}</span>
              {% endfor %}
              {% if publication.press %}
              <p class="mb-1"></p>
              <span class="collaborator mt-1">Press:
              {% for publisher in publication.press %}
              <span><a class="underline weight-500 text-slate-60 ml-1" href="{{ publisher.link }}" target="_blank" rel="noopener">{{ publisher.publisher }}</a></span></span>
              {% endfor %}
              {% endif %}
              <p class="my-2">
                {% if publication.bibtex == "" or publication.bibtex == "#" or publication.bibtex == null %}
                {% else %}
                <button class="download btn-bib">BibTex</button>
                {% endif %}
                {% if publication.pdf == "" or publication.pdf == "#" or publication.pdf == null %}
                {% else %}
                <a href="{{ publication.pdf }}" class="ml-2 underline text-slate-70 weight-500">PDF</a>
                {% endif %}
                {% if publication.talk == "" or publication.talk == "#" or publication.talk == null %}
                {% else %}
                <a href="{{ publication.talk }}" class="border-left-slate ml-2 pl-2 underline text-slate-70 weight-500">Talk</a>
                {% endif %}
                {% if publication.slides == "" or publication.slides == "#" or publication.slides == null %}
                {% else %}
                <a href="{{ publication.slides }}" class="border-left-slate ml-2 pl-2 underline text-slate-70 weight-500">Slides</a>
                {% endif %}
              </p>
              <p class="bibtex mt-1">{{ publication.bibtex }}</p>
            </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script>
$(".btn-bib").click(function() {
    $(this).closest(".row").find(".bibtex").fadeToggle("300", "swing");
});
</script>
