---
layout: internal
title: Satellite - Censored Planet
permalink: /projects/satellite
---

<!-- Top Header Section -->
<div class="container-fluid background-teal">
  <div class="container py-3">
    <h1 class="text-slate">Satellite/Iris</h1>
    <p class="text-slate size-24">Global Detection Of DNS-Layer Disruption</p>
  </div>
</div>

<!-- Description Section -->
<div class="container-fluid">
  <div class="container pt-4 pb-2">
    <h2 class="text-slate">Overview</h2>
    <p class="size-24 text-slate">Satellite is a tool to detect DNS interference remotely, scalably, ethically, and globally.</p>
    <p class="size-18 text-slate">We begin by identifying open DNS resolvers in the IPv4 space and filtering it to rigorous ethical standards, utilizing only about 10,000 of 10,000,000 resolvers (0.1%) spanning 170 countries. We use the latest Alexa
      top 1K and Citizen Lab global test list as our input domains, and query every resolver with every domain. Using multiple heuristics to avoid false positives, such as AS number, AS name, and HTTP static content hash we compare
      with answers from designated control resolvers to determine the occurrence of interference. Furthermore, to confirm censorship, we visit the pages hosted on answer IPs to check for presence of a blockpage.</p>
  </div>
</div>

<!-- Data Section -->
<div class="container-fluid">
    <div id="data" class="container py-2">
        <h2 class="text-slate mb-0">Data</h2>
        <p class="mb-0 size-18">All the data collected from the Observatory is publicly available, including metadata.</p>
        <div class="row justify-content-between pt-4">
            <div class="col mx-3 gallery-item project-card">
                <a class="text-dark" href="/data/raw">
                    <i class="fas fa-broadcast-tower size-36 text-teal mb-3"></i>
                    <h3 class="text-slate weight-700">Raw Data</h3>
                    <p>Compressed files containing JSON data (1 file per scan per technique).</p>
                </a>
            </div>
            <div class="col mx-3 gallery-item project-card">
                <a class="text-dark" href="/data/visualizations">
                    <i class="fas fa-adjust size-36 text-teal mb-3"></i>
                    <h3 class="text-slate weight-700">Visualizations</h3>
                    <p>View interactive visualizations and statistics from a recent scan.</p>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Publications Section -->
<div class="container-fluid">
  <div id="topics" class="container py-2">
    <h2 class="text-slate mb-0">Publications</h2>
    <p class="mb-0 size-18">Satellite was presented at the 2016 USENIX Annual Technical Conference, and was awarded best student paper. The paper covers the design of the measurement system, and the ability for the bipartite graph of IPs and domains
      to reveal CDN infrastructure. This tool is made after Iris, presented at USENIX 2017, and Satellite.</p>
    <div class="row pt-1">
      <div class="col-12">
        {% for publication in site.publications reversed %}
              {% assign tags = publication.tags %}
              {% for tag in tags %}
              {% if tag == "satellite" %}
              <div class="report-card px-3 py-1 my-2">
                <div class="row justify-content-between align-items-center">
                  <div class="col-lg-12 col-sm-12">
                    <p class="my-1">
                      <span class="details-pub">{{ publication.date | date: "%B %Y" }}</span>
                      <span class="ml-1 publisher">{{ publication.publisher }}</span>
                    </p>
                    <h3 class="pt-1 mb-0 text-slate weight-700">{{ publication.name }}</h3>
                    {% assign collaborators = publication.collaborators %}
                    {% for collaborator in collaborators %}
                    <span class="collaborator">{{ collaborator }}</span>
                    {% endfor %}
                     {% if publication.press %}
                      <p class="mb-1"></p>
                      <span class="collaborator mt-1">Press:
                      {% for publisher in publication.press %}
                      <span><a class="underline weight-500 text-slate-60 ml-1" href="{{ publisher.link }}" target="_blank" rel="noopener">{{ publisher.publisher }}</a></span></span>
                      {% endfor %}
                      {% endif %}
                    <p class="my-1">
                      {% if publication.bibtex == "" or publication.bibtex == "#" or publication.bibtex == null %}
                      {% else %}
                      <button class="download btn-bib">BibTex</button>
                      {% endif %}
                      {% if publication.pdf == "" or publication.pdf == "#" or publication.pdf == null %}
                      {% else %}
                      <a href="../{{ publication.pdf }}" class="ml-2 underline text-slate-70 weight-500">PDF</a>
                      {% endif %}
                      {% if publication.talk == "" or publication.talk == "#" or publication.talk == null %}
                      {% else %}
                      <a href="{{ publication.talk }}" class="border-left-slate ml-2 pl-2 underline text-slate-70 weight-500">Talk</a>
                      {% endif %}
                      {% if publication.slides == "" or publication.slides == "#" or publication.slides == null %}
                      {% else %}
                      <a href="{{ publication.slides }}" class="border-left-slate ml-2 pl-2 underline text-slate-70 weight-500">Slides</a>
                      {% endif %}
                    </p>
                    <p class="bibtex mt-1">{{ publication.bibtex }}</p>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
              {% endfor %}
      </div>
    </div>
  </div>
</div>

<!-- Contact Section -->
<div class="container-fluid">
  <div class="container pt-3 pb-5">
    <h2 class="text-slate mb-0">Contact</h2>
    <p class="size-18 text-slate">Satellite for Censored Planet is developed and maintained by <a class="underline" href="https://ramakrishnansr.com" target="_blank" rel="noopener">Ram Sundara Raman</a>, <a class="underline" href="https://github.com/eltsai" target="_blank" rel="noopener">Elisa Tsai</a>, <a class="underline" href="https://www.linkedin.com/in/apurva-virkud" target="_blank" rel="noopener">Apurva Virkud</a>,and <a class="underline" href="https://ensa.fi/" target="_blank" rel="noopener">Roya Ensafi</a>.</p>
  </div>
</div>

<!-- Scripts -->
<script>
$(".btn-bib").click(function() {
    $(this).closest(".row").find(".bibtex").toggle();
});
</script>
