<div class="container-fluid background-slate-90">
    <div class="container pt-3">
        <div class="d-lg-flex justify-content-between align-items-center py-3 py-lg-3">
            <div class="small mb-2 mb-lg-0"><a href="/"><img src="../assets/footer-logo-white.svg" width="auto" /></a></div>
            <div class="d-flex small align-items-center justify-content-between">
                <p class="mb-0 text-white size-20">Questions? <a class="text-slate-40 underline" href="mailto:censoredplanet@umich.edu">Get in touch!</a></p>
            </div>
            <div class="d-flex small align-items-center justify-content-between">
                <p class="mb-0"><a class="text-slate-40 size-20 underline" href="mailto:censoredplanet@umich.edu">censoredplanet@umich.edu</a></p>
            </div>
        </div>
        <hr class="hr-slate-20">
        <div class="row pt-2 mb-4 mb-lg-3 justify-content-between">
            <div class="col-5 col-lg-3 mb-3">
                <h5 class="text-white weight-700">Projects</h5>
                <div class="small pt-1">
                    <div class="mb-2 size-14 weight-400"><a class="text-slate-40" href="/projects/augur"><span>Augur</span></a></div>
                    <div class="mb-2 size-14 weight-400"><a class="text-slate-40" href="/projects/satellite"><span>Satellite</span></a></div>
                    <div class="mb-2 size-14 weight-400"><a class="text-slate-40" href="/projects/quack"><span>Quack</span></a></div>
                    <div class="mb-2 size-14 weight-400"><a class="text-slate-40" href="/projects/hyperquack"><span>Hyperquack</span></a></div>
                </div>
            </div>
            <div class="col-5 col-lg-3 mb-3">
                <h5 class="text-white weight-700">Data</h5>
                <div class="small pt-1">
                    <div class="mb-2 size-14 weight-400"><a class="text-slate-40" href="/data/raw"><span>Raw Data</span></a></div>
                    <div class="mb-2 size-14 weight-400"><a class="text-slate-40" href="https://docs.censoredplanet.org"><span>Data Documentation</span></a></div>
                    <div class="mb-2 size-14 weight-400"><a class="text-slate-40" href="/data/visualizations"><span>Visualizations</span></a></div>
                </div>
            </div>
            <div class="col-5 col-lg-2 mb-3">
                <h5 class="text-white weight-700">Resources</h5>
                <div class="small pt-1">
                    <div class="mb-2 size-14 weight-400"><a class="text-slate-40" href="/reports"><span>Reports</span></a></div>
                    <div class="mb-2 size-14 weight-400"><a class="text-slate-40" href="/publications"><span>Publications</span></a></div>
                    <div class="mb-2 size-14 weight-400"><a class="text-slate-40" href="/events"><span>Events</span></a></div>
                </div>
            </div>
            <div class="col-5 col-lg-2 mb-3">
                <h5 class="text-white weight-700">About</h5>
                <div class="small pt-1">
                    <div class="mb-2 size-14 weight-400"><a class="text-slate-40" href="/team"><span>Team</span></a></div>
                    <div class="mb-2 size-14 weight-400"><a class="text-slate-40" href="/media"><span>Media</span></a></div>
                </div>
            </div>
            <div class="col-5 col-lg-2">
                <h5 class="text-white weight-700 pb-1">Social</h5>
                <a class="mr-2 text-slate-40" href="https://twitter.com/CensoredPlanet" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
                <a class="mr-2 text-slate-40" href="https://github.com/censoredplanet" target="_blank" rel="noopener"><i class="fab fa-github"></i></a>
            </div>
        </div>
        <div class="d-block d-lg-flex justify-content-between pt-0 pb-3">
            <div class="small mb-2 mb-lg-0">
                <p class="top-border-slate mb-1"></p><span class="copyright">&copy; {{ 'now' | date: "%Y" }} Censored Planet</span><span class="copyright mx-2">|</span><span class="copyright"><a class="copyright underline-hover" href="/terms">Terms of Service</a></span>
            </div>
        </div>
    </div>
</div>
