<div class="container-fluid background">
    <div class="container">
        <div class="row justify-content-between align-items-center py-5">
            <div class="col-12 col-md-6 order-2 order-md-1">
                <h2 class="text-slate size-42">An Internet-wide, Longitudinal Censorship Observatory</h2>
                <p class="size-20 mb-4 text-slate justify-text">Censored Planet is a censorship measurement platform that collects data using multiple remote measurement techniques in more than 200 countries.</p>
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 full-width-md"><a href="/reports" class="hero">Reports <i class="fas fa-arrow-right pl-1"></i></a></div>
                    <div class="col-12 col-md-6 full-width-md margin-negative"><a class="action" href="/data/raw">Data<i class="fas fa-arrow-right pl-1"></i></a></div>
                </div>
            </div>
            <div class="col-12 col-md-6 order-1 order-md-2 pl-md-0 mb-4 mb-md-0 d-none d-md-none d-lg-block"><img class="w-100" src="assets/header.png" /></div>
        </div>
    </div>
</div>

<div class="container-fluid background-teal-30">
    <div class="container py-2 text-center">
        <a href="https://cse.engin.umich.edu" target="_blank" rel="noopener"><img class="ml-1" src="assets/umich-header.svg" width="185px" height="auto" alt="University of Michigan logo" /></a>
    </div>
</div>
