<div class="container-fluid background">
    <div class="container">
        <div class="row justify-content-between align-items-center py-5">
            <div class="col-12 col-md-6 order-2 order-md-1">
                <h2 class="text-slate size-42">An Internet-wide, Longitudinal Censorship Observatory</h2>
                <p class="size-20 mb-4 text-slate justify-text">Censored Planet is a censorship measurement platform that collects data using multiple remote measurement techniques in more than 200 countries.</p>
                <div class="row align-items-center">
                    <div class="col-12 col-md-6 full-width-md"><a href="/reports" class="hero">Reports <i class="fas fa-arrow-right pl-1"></i></a></div>
                    <div class="col-12 col-md-3 full-width-md margin-negative "><a class="action" href="/data/raw">Data</a></div>
                    <div class="col-12 col-md-3 full-width-md margin-negative"><a class="action" href="/publications">Publications</a></div>
                </div>
            </div>
            
            <div class="col-12 col-md-6 order-1 order-md-2 pl-md-0 mb-4 mb-md-0 d-none d-md-none d-lg-block"><img class="w-100" src="assets/header.png" /></div>
        </div>
    </div>
    <div id="observatory" class="container rounded background-slate-80 py-1">
      <div class="row justify-content-between align-items-center py-4">
        <div class="col-12 col-md-4">
          <h2 class="text-white mb-0">Censored Planet Dashboard</h2>
        </div>
        <div class="col-12 col-md-5">
          <p class="mb-0 text-white">Censored Planet, in collaboration with <a href="https://jigsaw.google.com/" style="color:white">Google Jigsaw</a>, has developed a public dashboard for exploring processed Censored Planet data.</p>
        </div>
        <div class="col-12 col-md-3 mt-sm-0 mt-4 text-center align-items-center">
          <a href="https://dashboard.censoredplanet.org" class="button-main-sm hero">Dashboard <i class="fas fa-arrow-right pl-1"></i></a><br/><br/>
          <a href="https://docs.censoredplanet.org/analysis.html#id3" class="button-main-sm">About</a>
          </div>
      </div>
    </div>
</div>
<div class="container-fluid background-teal-30">
    <div class="container py-2 text-center">
        <a href="https://cse.engin.umich.edu" target="_blank" rel="noopener"><img class="ml-1" src="assets/umich-header.svg" width="185px" height="auto" alt="University of Michigan logo" /></a>
    </div>
</div>

