/* barlow-regular - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('barlow-v3-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Barlow Regular'), local('Barlow-Regular'),
       url('barlow-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('barlow-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('barlow-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('barlow-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('barlow-v3-latin-regular.svg#Barlow') format('svg'); /* Legacy iOS */
}

/* barlow-500 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  src: url('barlow-v3-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Barlow Medium'), local('Barlow-Medium'),
       url('barlow-v3-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('barlow-v3-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('barlow-v3-latin-500.woff') format('woff'), /* Modern Browsers */
       url('barlow-v3-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('barlow-v3-latin-500.svg#Barlow') format('svg'); /* Legacy iOS */
}

/* barlow-600 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  src: url('barlow-v3-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Barlow SemiBold'), local('Barlow-SemiBold'),
       url('barlow-v3-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('barlow-v3-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('barlow-v3-latin-600.woff') format('woff'), /* Modern Browsers */
       url('barlow-v3-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('barlow-v3-latin-600.svg#Barlow') format('svg'); /* Legacy iOS */
}

/* barlow-700 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url('barlow-v3-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Barlow Bold'), local('Barlow-Bold'),
       url('barlow-v3-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('barlow-v3-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('barlow-v3-latin-700.woff') format('woff'), /* Modern Browsers */
       url('barlow-v3-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('barlow-v3-latin-700.svg#Barlow') format('svg'); /* Legacy iOS */
}

/* barlow-800 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 800;
  src: url('barlow-v3-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Barlow ExtraBold'), local('Barlow-ExtraBold'),
       url('barlow-v3-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('barlow-v3-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('barlow-v3-latin-800.woff') format('woff'), /* Modern Browsers */
       url('barlow-v3-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('barlow-v3-latin-800.svg#Barlow') format('svg'); /* Legacy iOS */
}
