@import "tailwindcss";

@theme {
  --font-merriweather: "Merriweather", "sans-serif";
  --font-inter: "Inter", "sans-serif";
  --font-ibm: "IBM Plex Serif", "sans-serif";
  --font-barlow: "Barlow", "sans-serif";

}

.new-section-heading {
  @apply lg:text-[49px] text-[#121212] leading-[120%] font-merriweather
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  @apply bg-gray-50 text-gray-900 font-sans;
}

section:not(.hero) {
  border-bottom: 1px solid var(--divider, #888);
  background: var(--Background, #FDFDFD);
}

.primary-button {
  display: flex;
  height: 40px;
  padding: 8px 24px;
  align-items: center;
  gap: 8px;
}

.primary-button {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  
  line-height: 150%; /* 24px */
  letter-spacing: var(--spacing-spacing-non, 0px);
  color: #fdfdfd; /* Text color */
  background-color: #121212; /* Background color */
  padding: 8px 24px; /* 8px vertical, 24px horizontal */
  display: inline-block; /* Prevents full-width behavior */
}


.secondary-button {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  
  line-height: 150%; /* 24px */
  letter-spacing: var(--spacing-spacing-non, 0px);
  color: #121212; /* Text color */
  background-color: #fdfdfd; /* Background color */
  padding: 8px 24px; /* 8px vertical, 24px horizontal */
  display: inline-block; /* Prevents full-width behavior */
  border: 1px solid #888; /* Added border */
}

.header-button {
  color: var(--Text, #121212);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
 
  line-height: 120%; /* 21.6px */
  letter-spacing: var(--spacing-spacing-non, 0px);
  padding: 0px 8px;
}

.header-submenu-button {
  color: var(--Text, #121212);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  
  line-height: 150%; /* 21.6px */
  letter-spacing: var(--spacing-spacing-non, 0px);
  
}

.publication-card-internal-link {
  color: var(--teal-teal-500, #17827B);

  /* body/small/medium */
  font-family: var(--Body, Inter);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 19.5px */
  letter-spacing: var(--spacing-spacing-non, 0px);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.publication-title {
  color: var(--Text, #121212);
  /* H6/regular */
  font-family: var(--Header, Merriweather);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 24px */
  letter-spacing: var(--spacing-spacing-non, 0px);
}

.publication-author-names {

  color: var(--Text-dark-grey, #595959);
  font-family: var(--Body, Inter);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 19.5px */
  letter-spacing: var(--spacing-spacing-non, 0px);

}

.publication-award-badge {
  color: var(--Yellow, #A06C28);
  text-align: center;

}

.publication-tag {
  display: flex;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: var(--tertiary, #E4F7F6);
}

.publication-detail-heading {
  color: var(--divider, #888);

  /* body/medium */
  font-family: var(--Body, Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  letter-spacing: var(--spacing-spacing-non, 0px);
}

.publication-year {
  color: var(--Text-dark-grey, #595959);

  /* body */
  font-family: var(--Body, Inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: var(--spacing-spacing-non, 0px);
}


.publication-conference-name {
  color: var(--Text, #121212);

/* body/small */
font-family: var(--Body, Inter);
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 19.5px */
letter-spacing: var(--spacing-spacing-non, 0px);
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}

.small-text {
  font-family: var(--Body, Inter);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 19.5px */
  letter-spacing: var(--spacing-spacing-non, 0px);
}


.page-container {
  @apply max-w-screen-xl mx-auto px-8 sm:px-16;
}

.heading-primary {
  @apply text-3xl font-semibold mb-6 relative after:content-[''] after:block after:w-24 after:border-b-2 after:border-gray-600 after:mt-2;
}

.heading-section {
  @apply text-2xl font-semibold mb-6 relative after:content-[''] after:block after:w-24 after:border-b-2 after:border-gray-600 after:mt-2;
}

.paragraph {
  @apply text-lg text-gray-700 w-full text-justify;
}

.heading-secondary {
  @apply text-2xl font-semibold mb-2 relative;
}


.heading-nav {
  @apply text-2xl font-semibold mb-4 relative after:content-[''] after:block after:w-20 after:border-b-4 after:border-[#CC4E24] after:mt-2;
}


input:focus {
  /* use bright blue color for outline */
  outline: 1px solid #3B82F6;
  /* Replace with your desired color */
  border: none;
  /* Replace with your desired color */
}